h1 {
    text-align: center;
  }
  
  form {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #results {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .ticket {
    margin-bottom: 10px;
  }