@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');

body {
    background-color: rgb(255, 255, 255);
    padding: 1.5%;
    overflow-x: hidden;
    background-size: cover;
}



/*----NavBar----*/
.nav-container,
.main-info-container,
.data-container,
.productos,
.servicios {
    display: flex;
}

.nav-container {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3%;
}

.nav-title {
    text-align: center;
    align-items: center;
}

.logo-img {
    width: 35%;
    height: auto;
}

.data-container {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 2rem;
    align-items: right;
    justify-content: space-between;
    width: 60%;
    color: azure;

}

.productos,
.servicios {
    align-items: center;
    justify-content: space-between;
    transition: 1s;
    color: rgb(20, 33, 61);
}

.productos:hover,
.servicios:hover {
    font-size: 2.2rem;
    transition: 1s;
}

.itemf {
    display: flex;
    height: 600px;
    flex-grow: 0;
    justify-content: space-around;
    flex-direction: column;

}

.comidalabel {
    font-size: 25px;
    margin: 20px;
    width: 400px;
    text-align: center;
    background-color: rgb(124, 129, 136);
    border-style: none;
    outline: none;
    font-size: 21px;
    color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    font-family: 'Ysabeau SC', sans-serif;
}

.cuadro {
    width: 100px;
    height: 30px;
    position: relative;
    left: 160px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(151, 160, 173);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    margin: 3%;
    padding: 1.5%;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
    border-radius: 100px;
}

.copy {
    color: #000;
}


.imgcrr {
    width: 70%;
    height: auto;
    border-radius: 50px;
    position: relative;
}

.historia {
    font-size: 2rem;
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20%;
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Agregado */
}

.price-overlay {
    position: absolute;
    top: 0;
    left: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    visibility: hidden;
    border-radius: 50px;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    width: 70%;
}

.contenedor:hover .price-overlay {
    visibility: visible;
    opacity: 1;
}

.todo{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(247, 246, 245);
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items:center;
    text-align: justify;
}

.column1{
    padding: 30px;
}

.my-button {
    background-color: #549ab6; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave */
    text-decoration: none !important;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .my-button:hover {
    background-color: #eb2727; /* Color de fondo al pasar el cursor */
    text-decoration: none;
  }
  
  .informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tema__imagen{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  }

  h3{
    font-family: 'Ysabeau SC', sans-serif;
  }


  