@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');

body {
    background-color:rgb(255, 255, 255);
    padding: 1.5%;
    overflow-x: hidden;
    background-size: cover;
}



.bg-container{

    width: 32%;
    height: 110vh;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -10;
}
