@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');


body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}



/*----NavBar----*/
.nav-container,
.main-info-container,
.data-container,
.productos,
.servicios {
    display: flex;
}

.nav-container {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3%;
}

.main-info-container {
    font-size: 2rem;
    width: 30%;
    justify-content: space-between;
    font-family: 'Ysabeau SC', sans-serif;
}

.nav-title {
    text-align: center;
    align-items: center;
}

.logo-img {
    width: 35%;
    height: auto;
}

.data-container {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 2rem;
    align-items: right;
    justify-content: space-between;
    width: 60%;
    color: azure;

}

.productos,
.servicios {
    align-items: center;
    justify-content: space-between;
    transition: 1s;
    color: rgb(20, 33, 61);
}

.productos:hover,
.servicios:hover {
    font-size: 2.2rem;
    transition: 1s;
}

.itemf {
    display: flex;
    height: 600px;
    flex-grow: 0;
    justify-content: space-around;
    flex-direction: column;

}

.comidalabel {
    font-size: 25px;
    margin: 20px;
    width: 400px;
    text-align: center;
    background-color: rgb(124, 129, 136);
    border-style: none;
    outline: none;
    font-size: 21px;
    color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    font-family: 'Ysabeau SC', sans-serif;
}

.cuadro {
    width: 100px;
    height: 30px;
    position: relative;
    left: 160px;
    text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(151, 160, 173);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
  margin: 3%;
  padding: 1.5%;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 0 auto;
  border-radius: 100px;
}
