@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');

body {
    background-color: rgb(255, 255, 255);
    padding: 1.5%;
    overflow-x: hidden;
    background-size: cover;
    text-align: justify;
}

#carouselExampleIndicators {
    max-width: 2000px; /* Ajusta el ancho máximo del carrusel según tus necesidades */
    margin: 5%; /* Centra el carrusel horizontalmente */
  }
  
  .carousel-inner {
    height: 500px; /* Ajusta la altura del carrusel según tus necesidades */
  }
  
  .carousel-item img {
    height: 800%; /* Ajusta la altura de las imágenes del carrusel según tus necesidades */
    object-fit:scale-down; /* Ajusta la forma en que se ajusta la imagen dentro de su contenedor */
  }

.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-shadow-1{
    background-color: rgb(238, 238, 238);
    padding: 10px;
}

.bg-container {

    width: 32%;
    height: 110vh;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -10;
}

