<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG 11.11lamaletadesueños</title>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/estilos.css">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>

    <!--Header - menu-->
    <header>

        <div class="header-content">

            <div class="logo">
                <h1><b>11.11</b>lamaletadesueños</h1>
            </div>

            <div class="menu" id="show-menu">

                <nav>
                    <ul>
                        
                        <li class="menu-selected"><a href="#" class="text-menu-selected"> 
                            <i class="fas fa-file-alt"></i>Blog</a></li>
                    </ul>
                </nav>

            </div>

        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <!--Portada-->

    <div class="container-all" id="move-content">

    
    <div class="container-cover">
        <div class="container-info-cover">
            <h1>¡Todo es posible!</h1>
            <p>Somos una compañia familiar apasionada por los viajes</p>
        </div>
    </div>

    <div class="container-content">
        <article>

            <h1>Titulo del articulo</h1>

            <p>Aqui puede ir un articulo creado basado en la experiencia de los dueños viajando</p>

            <p>segundo parrafo </p>

                <h1>Subtitulo del articulo</h1>

                <p>otro espacio para blog </p>

                <img src="img/img2.jpg" alt="">

                <p> otro parrafo</p>

            </article>

        <div class="container-aside">	

            <aside>
                <img src="img/img6.jpg" alt="">
                <h2>Titulo del articulo</h2>
                <p>articulo relacionado!</p>
                <a href="#"><button>leer más</button></a>
            </aside>

            <aside>
                <img src="img/img1.jpg" alt="">
                <h2>Titulo del articulo</h2>
                <p>algun articulo relacionado </p>
                
            </aside>

            <aside>
                <img src="img/img4.jpg" alt="">
                <h2>Titulo del articulo</h2>
                <p>algun otro parrafo</p>
                <a href="#"><button>leer más</button></a>
            </aside>

        </div>
    </div>

    <div class="container-footer">	

        <footer>
            <div class="logo-footer">
                <img src="Proyecto_Lenguajes\Views\Assets\imgs\logo.png" alt="">
            </div>

            <div class="redes-footer">
                <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>

        
            

        </footer>

    </div>

</div>

    <script src="js/script.js"></script>
</body>
</html>