<!DOCTYPE html>
<html>
<head>
  <title>API de Tequila by Kiwi.com</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>B&uacutesqueda de vuelos</h1>

  <form id="flightForm">
    <label for="origin">Origen:</label>
    <input type="text" id="origin" required>

    <label for="destination">Destino:</label>
    <input type="text" id="destination" required>

    <label for="departureDate">Fecha de salida:</label>
    <input type="date" id="departureDate" required>

    <button type="submit">Buscar vuelos</button>
  </form>

  <div id="results"></div>

  <script src="script.js"></script>
</body>
</html>