<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link rel="stylesheet" href="../Views/Assets/css/home.css" />
        <link rel="stylesheet" href="../Views/Assets/css/login.css" />
    
    </head>
<body>
    <nav>
        <div class="nav-container">
        <div class="main-info-container">
          <img class="logo-img" src="../Views/Assets/imgs/logo.png" alt="" />
        </div>
        <div class="data-container">
          <div class="servicios">
            <h5>SERVICIOS</h5>
            
          </div>
          <div class="servicios">
            <h5>PAQUETES DE VIAJE</h5>
            
          </div>
          <div class="servicios">
            <h5>BLOG</h5>
          </div>
          <div class="servicios">
            <h5>BUSCADOR VUELOS</h5>
          </div>
        </div>
      </div>
    </nav>
    <form action="action_page.php" method="post">
        <div class="imgcontainer">
          <img src="../Views/Assets/imgs/img_avatar2.webp" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    <footer>
        <script src="../Views/Assets/js/home.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <div class="socials">
          <i class="fa-brands fa-instagram fa-2x"></i>
          <i class="fa-brands fa-whatsapp fa-2x"></i>
          <i class="fa-regular fa-envelope fa-2x"></i>
        </div>
        <p class="copy">Derechos reservados joshua33657@gmail.com 2023</p>
      </footer>
</body>
</html>