<!DOCTYPE html>
<html>
<head>
    <title>Información de los paquetes</title>
    <link rel="stylesheet" href="../Views/Assets/css/paquetes.css">
</head>
<body>
    <h1>Información de los paquetes</h1>
    <table id="paquetes-table">
        <tr>
            <th>ID_PAQUETE</th>
            <th>TITULO_PAQUETE</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th>
        </tr>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../Views/Assets/js/paquetes.js"></script>
</body>
</html>