<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visa USA</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../Views/Assets/css/usa.css" />

</head>

<body>
  <nav>
    <div class="nav-container">
      <div class="main-info-container">
        <img class="logo-img" src="../Views/Assets/imgs/logo.png" alt="" />
      </div>
      <div class="data-container">
        <div class="servicios">
          <a class="nav-link Dropdown" aria-current="page" href="../Views/servicios.html">
            <h5>SERVICIOS</h5>
          </a>
        </div>
        <div class="servicios">
          <h5>PAQUETES DE VIAJE</h5>

        </div>
        <div class="servicios">
          <h5>BLOG</h5>
        </div>
        <div class="servicios">
          <h5>BUSCADOR VUELOS</h5>
        </div>
      </div>
    </div>
  </nav>
  <div class="todo">
    <div class="grid">
      <div class="column">
        <img class="tema__imagen"
          src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/248/visa-passport-1140x684.png" alt="BK"
          style="border-radius: 100px;" height="100%" width="90%">
      </div>
      <div class="column1">
        <h3 class="option">Requisitos de Visa Americana</h3>
        <p class="option1">Presenta una lista de requisitos generales para solicitar una visa americana, como:
          Pasaporte válido con una vigencia mínima de seis meses.
          Formulario DS-160 completado y confirmado.
          Pago de la tarifa de solicitud de visa.
          Fotografía reciente que cumpla con los requisitos establecidos.
          Documentos adicionales, según el tipo de visa solicitada (por ejemplo, comprobantes financieros, carta de
          empleo, etc.).</p>
      </div>

      <div class="column1">
        <h3 class="option">Proceso de Solicitud de Visa Americana</h3>
        <p class="option1">Describe detalladamente los pasos que los solicitantes deben seguir para solicitar la visa
          americana:
          Creación de una cuenta en el sistema en línea.
          Completar el formulario DS-160, proporcionando información personal, detalles de viaje y antecedentes.
          Pago de la tarifa de solicitud de visa a través de los métodos aceptados.
          Programación de la cita para la entrevista en la embajada o consulado de los Estados Unidos.
          Programación de la entrega de los documentos adicionales, si son requeridos.
          Seguimiento del estado de la solicitud a través del sistema en línea.</p>
      </div>
      <div class="column">
        <img class="tema__imagen" src="https://vinculos.co/wp-content/uploads/2023/05/Renovacion-de-la-visa.jpg"
          style="border-radius: 100px;" alt="BK" height="100%" width="90%">
      </div>
      <div class="column">
        <img class="tema__imagen" src="https://aterrizarglobal.com/wp-content/uploads/2023/03/visa-americana.jpg"
          alt="BK" style="border-radius: 100px;" height="100%" width="90%">
      </div>
      <div class="column1">
        <h3 class="option">Tipos de Visas Americanas</h3>
        <p class="option1">Enumera y describe brevemente los diferentes tipos de visas americanas disponibles,
          incluyendo:
          Visa de Turismo (B1/B2)
          Visa de Trabajo (H1B, L1, etc.)
          Visa de Estudiante (F1, J1, etc.)
          Visa de Inversionista (E2, EB-5, etc.)
          Visa de Novio/a de Ciudadano/a Americano/a (K1)
          Visa de Intercambio (J1)
          Visa de Periodista (I)
          Proporciona una breve explicación de cada tipo de visa, su propósito y los requisitos específicos para
          solicitarla.</p>
      </div>

      <div class="column1">
        <h3 class="option">Preparación para la Entrevista de Visa Americana</h3>
        <p class="option1">Ofrece consejos y pautas para prepararse adecuadamente para la entrevista de visa, como:
          Revisar y familiarizarse con los documentos presentados.
          Preparar respuestas claras y concisas para las posibles preguntas del oficial consular.
          Traer cualquier documento adicional que respalde la solicitud.
          Vestir de manera apropiada y profesional.
          Mantener la calma y la confianza durante la entrevista.</p>
      </div>
      <div class="column">
        <img class="tema__imagen"
          src="https://curbelolaw.com/wp-content/uploads/2021/10/cuales-son-los-tipos-de-visas-americanas.jpg" alt="BK"
          style="border-radius: 100px;" width="90%">
      </div>
      <br>
    </div>
    <br><br>
    <div class="informacion">
      <h3>¿Desea iniciar el proceso de solicitud de su Visa Americana?</h3>
      <a href="formulario.php" id="my-link" class="my-button"><strong>+ INFORMACIÓN</strong></a>
    </div>
    <br>
  </div>


  <footer>
    <script src="../Views/Assets/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div class="socials">
      <i class="fa-brands fa-instagram fa-2x"></i>
      <i class="fa-brands fa-whatsapp fa-2x"></i>
      <i class="fa-regular fa-envelope fa-2x"></i>
    </div>
    <p class="copy">Derechos reservados joshua33657@gmail.com 2023</p>
  </footer>
</body>
</html>